html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark-color: #424067;
  --light-color: #f7f8f5;
  --l-accent: #d294ab;
  --brand: #f5a96a;
  --d-accent: #cf604b;
  --green: #7fad58;
  --yellow: #fc9d20;
  --red: #f44336;

  --trans-ease: all 0.2s ease-out;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

* {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
}

main {
  margin-bottom: 2rem;
}

section {
  margin-top: 5rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
  border-left: 0.8rem solid var(--l-accent);
  padding-left: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: none;
}

p {
  margin-top: 0.5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-col-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.part {
  margin-top: 1rem;
  padding: 1.8rem;
  background-color: var(--light-color);
  border-radius: 1rem;
  color: var(--dark-color);
  width: 100%;
  opacity: 0.9;
  transition: var(--trans-ease);
}

.part:hover {
  opacity: 1;
  transition: var(--trans-ease);
}

.total {
  margin-top: 1rem;
  padding: 1.8rem;
  border-radius: 1rem;
  background-color: var(--l-accent);
  color: var(--dark-color);
  opacity: 0.9;
  transition: var(--trans-ease);
}

.total:hover {
  opacity: 1;
  transition: var(--trans-ease);
}

.accent {
  color: var(--light-color);
}
